<!-- Add Comment -->
<div class="comments">
  <img src="<%=reqInfo.photoPath ? reqInfo.photoPath : "/images/noprofile.jpg"%>" />
  <form action="/profile/<%=user.id%>" method="POST">
    <input type="text" name="comment" placeholder="Add a comment" />
    <button type="submit">Post</button>
  </form>
</div>
<!-- End of Add Comment -->

<h2>Comment</h2>
<% if(user.comments){%> <% for (let i = 0 ; i < user.comments.length ; i++) { %>
<div class="comments-list">
  <div class="comments-list-img">
    <img src="<%=user.comments[i].user.photoPath ? user.comments[i].user.photoPath : "/images/noprofile.jpg"%>" />
  </div>
  <div class="">
    <div class="comments-list-user"><%= user.comments[i].user.firstName %></div>
    <div class="comments-list-container">
      <% if(editid==user.comments[i].id) { %>
      <form action="/profile/<%=user.id%>/comment/edit/<%=user.comments[i].id%>" method="POST">
        <input type="hidden" name="userid" value="<%= user.id %>" />
        <input type="hidden" name="commentid" value="<%= user.comments[i].id %>" />
        <input type="text" name="comment" class="comment-edit" value="<%= user.comments[i].comment %> " />
        <div class="comments-list-buttons"><button type="submit">Post</button></div>
      </form>
      <a href="/profile/<%=user.id%>/comment/delete/<%= user.comments[i].id %> " class="comments-list-buttons"
        ><button>Delete</button></a
      >
      <% } else {%>
      <div><%= user.comments[i].comment %> <% } %></div>
      <% if(editid!=user.comments[i].id) { %>

      <div class="comments-list-buttons">
        <% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager") || reqInfo.id ==
        user.comments[i].user.id) { %>
        <a href="/profile/<%=user.id%>/comment/edit/<%= user.comments[i].id %> "><button>Edit</button></a>
        <a href="/profile/<%=user.id%>/comment/delete/<%= user.comments[i].id %> "><button>Delete</button></a>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</div>
<% } %> <%}%>
